@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-violet-100;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

input[type="range"] {
  accent-color: #a78bfa;
}
